<footer id="fh5co-footer2" role="contentinfo"  >
    <div class="container-fluid">
        <div class="footer-content">
            <div class="copyright"><small><br>institut@grasset.qc.ca <br>220, Fairmount Ouest Montréal (Québec) H2T 2M7</div>
            <div class="social">
          
            </div>
            <br> &copy;2022 Present. All Rights Reserved. </a></small>
        </div>
    </div>
</footer>