 
 	 <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Portfolio grasset</title>
     <meta name="description" content="Unika - Responsive One Page HTML5 Template">
     <meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
     <meta name="author" content="imransdesign.com">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= typeof title != 'undefined' ? title : 'Système Portfolio' %></title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
    <link rel="stylesheet" href="stylesheets/css2/inc/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/css2/inc/animations/css/animate.min.css">
    <link rel="stylesheet" href="stylesheets/css2/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
    <link rel="stylesheet" href="stylesheets/css2/inc/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="stylesheets/css2/inc/owl-carousel/css/owl.theme.css">
    <link rel="stylesheet" href="stylesheets/css2/reset.css">
    <link rel="stylesheet" href="stylesheets/css2/style.css">
    <link rel="stylesheet" href="stylesheets/css2/mobile.css">

    <link rel="stylesheet" href="stylesheets/css2/skin/cool-gray.css">
