<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= typeof title != 'undefined' ? title : 'Système Portfolio' %></title>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/particles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/auth.css" rel="stylesheet" type="text/css">
