<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head', { title: 'Récupération de mot de passe - Portfolios' }); %>
    <link href="stylesheets/auth3.css" rel="stylesheet" type="text/css"/>

    <!--encadrer-->
    <style>
        .encadrer_texte 
        {
        width: fit-content;
        border: 2px solid rgb(219, 219, 219);
        padding: 4px;
        margin: 0px;
        }
        </style>

</head>

<body>
<img src="images/IGR_logo_blac.jpg"alt="Trulli" width="200" height="85" >
<div id="tsparticles"></div>
<main class="box">
    <h2>Mot de passe oublié</h2>
    <form method="POST" action="/forgottenPassword">
        <div>
            <div class="inputBox" style="margin: 10px 0px -10px 0px;">
                <label for="userId">Identifiant</label>
                <input 
                type="text"
                name="userId" 
                id="id" 
                placeholder="Rentrez votre identifiant " 
                required onkeyup="validate_id()"/>
            </div>
            
            <div style="margin: 0px 00px 10px 0px;"><span id="wrong_id_alert" ></span> </div>
        </div>
        
    
        <div>
            <div class="inputBox">
                <label>Question secréte 1 : Dans quelle ville se sont rencontrés vos parents ? </label>
                <input type="text" 
                    name="questionSecrete_1"
                    id="alphaQ1"
                    placeholder="Donnez votre réponse"
                    required onkeyup="validate_alphaQ1()"/>
            </div>
            <div style="margin: 0px 00px 10px 0px;"><span id='wrong_alphaQ1_alert'></span> </div>
    
            <div class="inputBox">
                <label>Question secréte 2 : Quel était le métier de votre grand-père ?</label>
                <input type="text" 
                name="questionSecrete_2" 
                id="alphaQ2" 
                placeholder="Donnez votre réponse"
                required onkeyup="validate_alphaQ2()"/>
            </div>
            <div style="margin: 0px 00px 10px 0px;"><span id='wrong_alphaQ2_alert'></span> </div>
        </div>
    

        <% if(msg) { %>
            <div style="margin: 0px 00px 10px 0px;">
                <span style="color: red; font-weight: bold;">
                    <%= msg %>
                </span>
            </div>
        <%}%>



        <div style="margin: 10px 10px 10px 180px;">
            <button type="submit" id="create" value="checkQuestions"
            style="float: left;">Valider</button>
            <br/>
            <br/>
        </div>

        <div style="margin: 2px 10px 20px 154px;">
            <a class="button"  href="login" style="float: left;">Se connecter</a>
        </div>
        
        
    </form>

</main>
<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
<script src="javascripts/style3.js"></script>
</html>
