body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  float: left;
  width: 100%; 
  /* position: absolute;
  bottom: 0; */
  background: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999999;
}
